<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='normalize.css'/>
	<link rel="stylesheet" href="/static/style.css">
	<title>Quiz</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Emilys+Candy&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<script src="jquery-1.11.3.min.js"></script>
	<script src='script.js'></script>
</head>
<body>



<h1>Välkommen till min quizsida</h1>
<p>Vilket quiz passar idag?</p>
<div class="wrapper">
<div class="table">
		{% for quiz in quizzes %}

	<div class="row">
		<div style ="background-image: url('/static/{{quiz.image}}')" class="cell cell_image">
		</div>

		<div class="cell cell_text">
			<h2>{{ quiz.name }}</h2>
			<p>{{ quiz.description }}</p>
				<a href="{% url "question_page" quiz.slug 1 %}" class="button_flat button_flat-2">
		{{ "Till quizet" }}</a>

		</div>
	</div>
	{% endfor %}

</div>
</div>



</body>
</html>