<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='normalize.css'/>
	<link rel="stylesheet" href="/static/style.css">
	<title>Quiz</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Emilys+Candy&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<script src="jquery-1.11.3.min.js"></script>
	<script src='script.js'></script>
</head>
<body>
{% for quiz_slug, quiz in quizzes.items %}
<p>{{ quiz.name }}</p>
{% endfor %}
<h1>Välkommen till min quizsida</h1>
<p>Här beskriver jag lite kort vilka quiz som finns!</p>
<div class="wrapper">
<div class="table">
	<div class="row">
		<div class="cell cell_image monkey">
		</div>
		<div class="cell cell_text">
			<h2>Ett quiz om apor</h2>
			<p>Testa dina kunskaper om våra närmaste släktingar!</p>
				<a href="quiz.html" class="button_flat button_flat-2">Till quizet</a>

		</div>
	</div>
		<div class="row">
		<div class="cell cell_image cat">
		</div>
		<div class="cell cell_text">
			<h2>Ett quiz om katter</h2>
			<p>Vad kan du egentligen om katter?</p>
				<a href="#" class="button_flat button_flat-2">Till quizet</a>

		</div>
	</div>
</div>
</div>



</body>
</html>