<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='normalize.css'/>
	<link rel="stylesheet" href="/static/style.css">
	<title>Question</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Emilys+Candy&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<script src="/static/jquery-1.11.3.min.js"></script>
	<script src='/static/script.js'></script>
</head>
<body>

	<h1>{{ quiz }}</h1>
	<h2>{{ question }}</h2>
	<div class="wrapper">
		<div class="imageContainer">
			<form action="{% url "question_page" quiz.slug question_number %}" method="post">
				{% csrf_token %}
				<label class= "answerbox answerbox1" id = {% if correct == 1 %} "fooID" {% else %} "fooID2"{% endif %} style ="background-size: cover; background-image: url('/static/{{ answer1 }}')">
					<input type="radio" name="answer" value="1"> 
					<p class="answerText-wrong"> FEL! </p>
					<p class="answerText-right"> RÄTT! </p>

				</label>	
				<label class="answerbox answerbox2" id = {% if correct == 2 %} "fooID" {% else %} "fooID2" {% endif %} style ="background-size: cover; background-image: url('/static/{{ answer2 }}')">
					<input type="radio" name="answer" value="2"> 
					<p class="answerText-wrong"> FEL! </p>
					<p class="answerText-right"> Rätt! </p>
				</label>

				<button type="submit" class="submit-button">Nästa</button>

			</form>
		</div>
	</div>


</body>
</html>