<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='normalize.css'/>
	<link rel="stylesheet" href="/static/style.css">
	<title>Question</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Emilys+Candy&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<script src="jquery-1.11.3.min.js"></script>
	<script src='script.js'></script>
</head>
<body>
<h1>Fråga 1</h1>
<p>Hur många (kända) ap-arter finns det i världen?</p>
<div class="wrapper">
	<a href="result.html" class="answerbox">
	79
	</a>
	<a href="result.html" class="answerbox">
	198
	</a>
	<a href="result.html" class="answerbox">
	264
	</a>
</div>



</body>
</html>