<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='normalize.css'/>
	<link rel="stylesheet" href="/static/style.css">
	<title>Question</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Emilys+Candy&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<script src="jquery-1.11.3.min.js"></script>
	<script src='script.js'></script>
</head>
<body>

<h1>Fråga 1</h1>
<p>{{ question_number }}. {{ question }}</p>
<div class="wrapper">
	<a href="{% url "result_page" quiz_slug %}" class="answerbox">
	{{ answer1 }}
	</a>
	<a href="{% url "result_page" quiz_slug %}" class="answerbox">
	{{ answer2 }}
	</a>
	<a href="{% url "result_page" quiz_slug %}" class="answerbox">
	{{ answer3 }}
	</a>

</div>


</body>
</html>