<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='normalize.css'/>
	<link rel="stylesheet" href="/static/style.css">
	<title>Ett quiz</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Emilys+Candy&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<script src="jquery-1.11.3.min.js"></script>
	<script src='script.js'></script>
</head>
<body>
	<h1>{{ quiz.name }}</h1>
	<p>{{ quiz.description }}</p>

<div class="wrapper">
	<div class="circle" id="boll">
		<div style ="background-image: url('/static/{{quiz.image}}')" class="image" ></div>
	</div>
	<a href="{% url "question_page" quiz.slug 1 %}" class="button_flat button_flat-2">Starta quizzet</a>

</div>


</body>
</html>